*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #C1DFC4;
  background-image: linear-gradient(90deg, #C1DFC4, #DEECDD);
  color: #638165;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main-card{
  background-image: url('./images/oval-bg.png');
  height: 510px;
  width: 800px;
  background-size: cover;
  display: flex;
  flex-direction: row;
}

.main-card-link{
  text-decoration: none;
  color: #638165;
  font-weight: 600;
}

.card-left{
  width: 55%;
}

.card-rigth{
  width: 45%;
}

.card-left,
.card-rigth{
  padding: 4%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card-text{
  font-size: 1.4em;
  margin-top: 5%
}

.main-card {
  color: #638165;
}

.small-text{
  font-size: .8em;
}

.form-fiels-wraper{
  margin-bottom: 50px;
}

.button{
  padding: 5px;
  width: 70%;
  border: 1px solid #C1DFC4;
  border-radius: 5px;
  margin: 10px;
  text-align: center;
  background-color: whitesmoke;
}

.form-button{
  padding: 9px;
}

.home-button{
  background-color: #C1DFC4;
}

.button-wraper{
  display: flex;
  justify-content: center;
}

.label{
  display: grid;
}

.input{
  background-color: whitesmoke;
  border: 1px solid whitesmoke;
  padding: 2%;
  width: 80%;
  margin: 10px;
}

.profile-data{
  font-weight: bold;
  font-size: 1.3em;
}

.profile-logout{
  color: darkred;
  text-align: center;
  font-weight: 700;
  margin: 5%;
  font-size: .7em;
}

.profile-data-field{
  margin: 4% 2%;
}

.picture-box{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-picture{
  margin: 10%;
  width: 50%;
  border-radius: 50%;
}

#profile-picture{
  display: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
