.outer-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

}

.inner-container{
  background-image: url("/oval-bg.png");
  background-repeat: no-repeat;
  height: 60vh;
  width: 60vw;
  background-size: cover;
  
  /* flex-direction: "column"; */
}

.btn-container{
  display: "flex";
  justify-content: "center";
  align-items: "center";
}

.btn{
  background-color: #c0e3be;
  color: #25282b;
}