body {
  background: url('/oval-bg.png');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  padding: 30vh 60vh;
}

.btn{
  background-color: #c0e3be;
  color: #25282b;
}