.container {
  background-image: url('/oval-bg.png');
  background-repeat: no-repeat;
}

.container-element:first-child {
  background-color: none;
}

.container-element:first-child h2 {
  color: #638165;
}

.container-element {
  width: 50%;
  padding: 0 50px 100px 50px;
}

.btn-iron-profile {
  background-color: #c1dfc4;
  width: 60%;
}
