.navbar li {
  display: inline-block;
  float: right;
  padding: 20px;
  border: 1px solid black;
  margin: 5px;
  border-radius: 20px;
  background: rgb(177, 177, 177);
  color: black;
}

.navbar {
  width: 100%;
  height: 100px;
  border-bottom: 1px solid black;
}
