.container {
    width: 60vw;
    height: 75vh;
    padding: 40px;
    border: 1px solid red;

    background-image: url('../../images/oval-bg.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}