.container {
    width: 75vw;
    height: 75vh;

    background-image: url('../../images/oval-bg.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}