.container {
    width: 60vw;
    height: 75vh;
    padding: 40px;

    background-image: url('../../images/oval-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}