
$main_font: "Futura", Helvetica, Arial, sans-serif;
$title_size: 4rem;
$label_size: 2rem;

$standard_properties: 0 0 3px 0 rgba(0, 0, 0, 0.235);
$properties: 0 0 5px 1px rgba(0, 0, 0, 0.235);

$main_green: #638065;
$secondary_green: #c1e3be;
$gray: #74767a;
$medium_gray:#98999b;
$light_gray:#f6f6f6;
