@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bgPrimary {
  background-color: rgb(193, 223, 196);
  background-image: linear-gradient(
    to right,
    rgb(193, 223, 196),
    rgb(193, 223, 196)
  );
}

.bgImage {
  background-image: url("./assets/oval-bg.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.uk-h1,
.uk-h2,
.uk-h3,
.uk-h4,
.uk-h5,
.uk-h6,
.uk-heading-2xlarge,
.uk-heading-large,
.uk-heading-medium,
.uk-heading-small,
.uk-heading-xlarge,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}

.primary-bold-color {
  color: #638165;
}

.bold-color {
  color: #23262b;
}

.medium-text {
  font-size: 1.2rem;
}

.button-primary {
  background-color: #c0e3be;
  color: #638165;
  border: 1px solid transparent;
}

.button-primary:hover {
  background-color: #7faf7c;
  color: #fff;
}

.button-secondary {
  background-color: #eeeeee;
  color: #638165;
  border: 1px solid transparent;
  border-radius: 5px;
}

.button-secondary:hover {
  background-color: #fff;
  color: #3b4e3d;
}

.imageProfile{
  width: 200px;
  height: 200px;
}

.logoutLink{
  color: rgb(104, 35, 35);
}

.logoutLink:hover{
  color: #D0021B;
  text-decoration: underline;
  cursor: pointer;
}

.small-padding-left{
  padding-left: 40px;
}