@import "node_modules/bulmaswatch/minty/bulmaswatch";

body {
  background: rgb(193, 223, 196);
  background: linear-gradient(90deg, rgba(193, 223, 196, 1) 0%, rgba(222, 236, 221, 1) 100%);
  margin: 0;
  font-family: BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.iron {
  &Box {
    background-image: url("/oval-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
  }
  &Section {
    height: 100vh;
  }
}
