.App {
  background-image: linear-gradient(to bottom right, #C1DFC4,#DEECDD );
  height: 100vh;
  width: 100vw;
}


.card {
  background-image: url('./oval-bg.png');
  background-repeat: no-repeat;

  width: 60vw;
  height: 70vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.card h1 {
  color: #638165
}