.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  width:50vw;
}

.App-link {
  color: #33683D;
  background-color: #A5DCB0;
  padding: 15px 25px;
  margin:10px;
  border-radius: 20px;
  width: 30vw;
  text-decoration: none;
}

h1{
  color:#33683D
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
