.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  width:50vw;
}

.App-link {
  color: #638165;
  background-color: #C1DFC4;
  padding: 15px 25px;
  margin:10px;
  border-radius: 20px;
  width: 30vw;
  text-decoration: none;
}

h1{
  color:#638165
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
form {
  display: flex;
  padding: 50px;
  justify-content: space-between;
}
.Form-izquierda{
  width:60vw;
  padding: 20px 30px;
}
.Form-izquierda label{
  font-size: 1.1rem;
  font-weight: 100;
}
.Form-izquierda input{
  margin-bottom: 30px;
  height: 5vh;
  background-color: #DEECDD;
  border: none;
  width:30vw;
  margin-top: 10px;
  padding: 0px 10px;
}
.Form-derecha{
  padding: 40px 80px;
  width: 30vw;
  display: flex;
  flex-direction: column;
  font-weight: 100;
}
.Form-derecha h2:last-of-type{
  margin-bottom: 40vh;
  margin-top: 0;
  font-weight: 100;
}
.Form-derecha h2:first-of-type{
  margin-bottom: 0px;
  margin-top: 5vh;
}
.Form-derecha input{
  background-color: antiquewhite;
  border:none;
  padding: 10px;
  width:20vw;
  align-self: center;
  border-radius: 5px;
}
.Form-derecha small{
  text-align: justify;
}
